language: android
sudo: required
jdk:
  - oraclejdk8
branches:
  only:
    - master
env:
global:
    - ANDROID_API_LEVEL=28
    - ANDROID_BUILD_TOOLS_VERSION=27.0.3
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION

    # The SDK version used to compile your project
    - android-$ANDROID_API_LEVEL

    # Additional components
    - extra-android-m2repository
    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - addon-google_apis-google-$ANDROID_API_LEVEL

# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-14 --abi google_apis/armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - chmod +x ./ci/wait-for-emulator
  - ./ci/wait-for-emulator
  - adb shell input keyevent 82 &
script:
  - ./gradlew clean build connectedCheck
after_success:
  - ./gradlew publishApkRealRelease
